:root{
    --main-color:#EDDFE0;
    --sec-color: #F5F5F7;
    --third-color:#B7B7B7;
    --fourth-color:#705C53;
    --dark-shade:#C6B2B5;
    --accent-color: #ec9197;
    --complement-color: #A5C9D8;
}

.SearchBarContainer {
    background-color: var(--main-color);
    display: flex;
    width: 100vw;
     
    justify-content: space-between; 
    align-items: center;
    padding: 1rem; 
    font-weight: 800;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: -10px;
    max-height: 8vh;
    border-bottom: 6px solid var(--sec-color);
    overflow: hidden;
}

.MenuContainer {
    display: flex;
    flex: 9;
    flex-direction: row;
    margin-top: 10px;
    flex-direction: row-reverse;
    margin-right: 25px;
}
.BrandLogo {
    font-family: 'Times New Roman', Times, serif;
    flex: 1;
    text-align: start; 
}

.BrandLogo p {
    font-size: 1.5rem;
    transition: 100ms ease-out;
    cursor: pointer;
    margin-left: 0px; 
}
.noStyle{
    text-decoration: none;
    color: var(--fourth-color);
}
.BrandLogo p:hover{
color: var(--complement-color);
}


svg{
        color: var(--fourth-color);
        transition: 100ms ease-out;
        cursor: pointer;
        max-width: 25px;
        margin-left: 20px;
}
svg:hover{
    color: var(--sec-color);
}

@media (min-width:900px) {
    .space{
        flex: 80%;
    }
   
}
.searchInput{
    top: 10px;
    left: 7px;
    right: 7px;
    min-height: 50px;
    position: absolute;
    width: 100%;
}
.searchInputContainer{
    display: flex;
    justify-content: end ;
    align-items: center;
    width: 100%;
}
.searchInputContainer svg{
    color: var(--accent-color);
    width: 50px;
    height: 50px;
    margin-right: 20px;
    z-index: 1;
    opacity: 0.7;
    transition: 0.2s ease;
}
.searchInputContainer svg:hover{
    color: var(--main-color);
    filter: brightness(0.7);
}
.searchInput input{
    padding: 5px;
    position: absolute;
    border: none;
    background-color: var(--sec-color);
    box-shadow: 4px 4px 8px var(--third-color),-4px -4px 8px var(--dark-shade);
    width: 100%;
    height: 6vh;
    min-height: 50px;
    font-size: medium;
    color: var(--dark-shade);
    font-weight: 700;
    border-bottom: 1px solid var(--dark-shade);
    outline: none;
}
.searchInput input:focus{
    border: none;
    box-shadow: 4px 4px 8px var(--third-color) inset,-4px -4px 8px var(--dark-shade) inset;
}
.hiddenInputt{
    display: none;
}
.cartsvg{
    transition: transform 0.2s, 0.2 ease;
}
.shake{
    scale: 1.2;
    animation: shake 0.5s ease-in-out;
    color: var(--complement-color);
}
.categoryPopOutContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    flex-direction: column;
    background-color: rgba(198, 178, 181, 0.7);
    display: none;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.5 ease;
}
.categoryPopOutContainer *{
    text-decoration: none;
    color: var(--fourth-color);
    background-color: var(--main-color);
    box-shadow: 4px 4px 8px var(--accent-color);
    margin-top: 1px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    font-size: larger;
    z-index: 2;
    transition: all 0.3s ease;
}
.categoryPopOutContainer *:hover{
    scale: 1.1;
    justify-content: center;
}
.categoryPopOutContainerTriggered{
    display: flex;
    opacity: 1;
}

@keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-5px); }
    50% { transform: translate(5px); }
    75% { transform: translate(-5px); }
    100% { transform: translate(0); }
}
/* @media (min-width:1080px) {
    .space{
        flex: 60%;
    }
    .SearchInput & .Category{
        flex: 2%;
    }
} */
